.main{
    display: flex;
    flex-direction: row;
}

#loginHome{
    padding-top: 10%;
    align-items: center;
    text-align: center;
}

.mainLogo{
    align-items: center;
}


.background{
    background-image: url("https://www.kuhnbrasil.com.br/sites/default/files/media-nextpage-img/2_Stronger_HD.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display:table;
}